body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header {
    background: #1e293b;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 60px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #1d4ed8;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border-radius: 1px solid #ccc;
    font-size: 14px;
}



.form-container {
  max-width: 500px;
  background: #fff;
  padding: 25px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form textarea {
  resize: none;
  height: 100px;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}
.form-wrapper {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-wrapper h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #111;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group textarea {
  height: 100px;
  resize: none;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #1e40af;
}